#!/bin/sh
#
# $Id: config.sh.sample,v 1.2 2004-08-13 01:58:35 dan Exp $
#
# Copyright (c) 2001-2003 DVL Software
#

PERL="/usr/local/bin/perl"
LOGGER="/usr/bin/logger -p local3.info"

SCRIPTDIR="/usr/local/libexec/freshports"

# for freshports user
FRESHPORTS_BASEDIR="/var/db/freshports"
FRESHPORTS_MSGDIR="${BASEDIR}/message-queues"

FRESHPORTS_FLAGDIR="${FRESHPORTS_MSGDIR}/signals"

# for ingress user
INGRESS_BASEDIR="/var/db/ingress"
INGRESS_MSGDIR="${INGRESS_BASEDIR}/message-queues"

INGRESS_FLAGDIR="${INGRESS_BASEDIR}/signals"
