#!/bin/sh
#
# $Id: config.sh.sample,v 1.2 2004-08-13 01:58:35 dan Exp $
#
# Copyright (c) 2001-2003 DVL Software
#

SCRIPTDIR=/usr/websites
BASEDIR=${HOME}/FreshPorts
FLAGDIR=/usr/websites/freshports.org/dynamic
QUEUES="freshports.org"
