import os

#
# configuration items
#
DBNAME		= 'freshports.org'
DBUSER		= 'dan'
SCRIPTDIR	= "/usr/websites"
QUEUENAME	= "freshports.org"

# used for processing category updates
DYNAMICDIR	= SCRIPTDIR + '/' + QUEUENAME + '/dynamic'
WWWENPortsCategoriesFlag = DYNAMICDIR + '/www.en.ports.categories'
JOBWAITING	= DYNAMICDIR + '/job_waiting'
