import os

#
# configuration items
#
DBNAME		= 'freshports.org'
DBUSER		= 'listening'
SCRIPTDIR	= "/usr/local/libexec/freshports"

BASEDIR         = '/var/db/freshports'

HOST            = "localhost"
PASSWORD        = "password"
QUEUENAME	= "freshports.org"

PORT_CACHE_PATH = BASEDIR + '/cache/ports/%s/%s/*'
DATE_CACHE_PATH = BASEDIR + '/cache/daily/%s/%s/%s.*'

# used for processing category updates
DYNAMICDIR	= BASEDIR + '/cache'
WWWENPortsCategoriesFlag = DYNAMICDIR + '/signals/www.en.ports.categories'
JOBWAITING	= DYNAMICDIR + '/signals/job_waiting'
