#
# configuration items
#
[database]
DBNAME		= 'freshports.org'
DBUSER		= 'listening'
HOST            = 127.0.0.1
PASSWORD        = ''

[dirs]
SCRIPTDIR	= '/usr/local/libexec/freshports'

BASEDIR         = /var/db/freshports

PORT_CACHE_PATH = %(BASEDIR)s/cache/ports/%%s/%%s/*
DATE_CACHE_PATH = %(BASEDIR)s/cache/daily/%%s/%%s/%%s.*
NEWS_CACHE_DIR  = '%(BASEDIR)s/cache/news/*'

[flags]
# used for processing category updates
DYNAMICDIR			= %(BASEDIR)s/cache
WWWENPortsCategoriesFlag	= %(DYNAMICDIR)s/signals/www.en.ports.categories
JOBWAITING			= %(DYNAMICDIR)s/signals/job_waiting
